* {
    font-family: 'Bubblegum Sans', cursive;
}

div {border: dashed black 1px} /* DEV TOOLS */

.game-space {
    position: fixed;
    min-height: 100%;
    width: 100%;
    min-width: 480px;
    display: inline-block;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.arena {
    min-width: 100%;
    min-height: 40%;
    display: flex;
    justify-content: stretch;
    flex-basis: 1 1 initial;
    box-sizing: border-box;
}

.result {
    max-width: 0%;
    visibility: hidden;
    z-index: 1;
    position: relative;
    top: 0%;
    left: 0%;
    font-size: 4em;
    padding: auto;
    display: flex;
    justify-content: center;
}

.score {
    min-width: 20%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1 1 initial;
    box-sizing: border-box;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 4em;
}

.hands, .options {
    min-width: 30%;
    min-height: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    flex-basis: 1 1 initial;
    box-sizing: border-box;
}

.title {
    min-width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1 1 initial;
    box-sizing: border-box;

}

.title-content {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

.controller {
    min-width: 100%;
    min-height: 40%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
}

.options {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options:hover { background-color: #CC0099; }
.options:active { background-color: #336600; }


/* ANIMATION STATION */

img {
    width: 250px;
    height: auto;
    flex-basis: 1 1 auto;
}

img.animated {
    transition: all ease-in 0.01s;
    animation-iteration-count: 1;
}

img.animated#lefthand { animation: RoShamBoLeft 2s; }
img.animated#righthand { animation: RoShamBoRight 2s; }

img.winner {
    transition: all ease-in-out 1s 2s; /* last digit is delay - needs updating to match main animation */
    animation: winner;
    animation-iteration-count: infinite;
}

img.loser {
    transition: all ease-in-out 5s 2s; /* last digit is delay - needs updating to match main animation */
    transform: scale(0.50) translate(0px, -5px);
}



@keyframes RoShamBoLeft {
    22%, 56%, 90% { transform: translate(10px, 0) rotate(-40deg); }
    34% { transform: translate(-5px, 0) rotate(10deg) scale(1.1); }
    68% { transform: translate(-5px, 0) rotate(10deg) scale(1.2); }
    100% { transform: translate(-5px, 0) rotate(10deg) scale(1.5); }
}

@keyframes RoShamBoRight {
    22%, 56%, 90% { transform: translate(10px, 0) rotate(40deg); }
    34% { transform: translate(-5px, 0) rotate(-10deg) scale(1.1); }
    68% { transform: translate(-5px, 0) rotate(-10deg) scale(1.2); }
    100% { transform: translate(-5px, 0) rotate(-10deg) scale(1.3); }
}

@keyframes winner {
    0%, 100%{ transform: rotate(-6deg) scale(1.5);}
    50%{ transform: rotate(6deg) scale(1.5); }
}

@keyframes titleRo {
    0%, 56% { transform: scale(1.0); }
    34% { transform: scale(1.1); }
}

@keyframes titleSham {
    0%, 90% { transform: scale(1.0); }
    68% { transform: scale(1.2); }
}

@keyframes titleBo {
    0% { transform: scale(1.0); }
    100% { transform: scale(1.5); }
}
